/* ocultar scroll  bar */
::-webkit-scrollbar {
   width: 0px;
}
	
img {
   border-radius: 8px;
   padding: 0px;
   background-color: white;
   width: 98%;
   margin-bottom: 10px;
}

img:hover {
   box-shadow:  0 0 5px 1px hsla(321, 99%, 0%, 0.67);
}

/* Mudar conteudo conforme a resolucão da tela */
@media screen and (min-width: 1000px) {	
img {
  border-radius: 8px;
  background-color: white;
  width: 70%;
  height: auto;
  }
}

/* Mudar conteudo conforme a resolucão da tela */
@media screen and (max-width: 600px) {	
img {
  border-radius: 6px;
  background-color: white;
  width: 96%;
  }
}
