/* ocultar scroll  bar */

::-webkit-scrollbar {
   width: 0px;
}
	
img {
   border: 10px solid white;
   border-radius: 8px ;
   padding: 0px;
   background-color: white;
   width: 98%;
}

img:hover {
   box-shadow:  0 0 5px 1px hsla(321, 99%, 0%, 0.67);
}

/* Mudar conteudo conforme a resolucão da tela */
@media screen and (max-width: 600px) {	
img {
  border: 6px solid white;
  border-radius: 4px ;
  width: 96%;
  }
}
