.zoom {
	overflow: hidden;
}

.zoom img {
	max-width: 100%;
	-moz-transition: all 1.0s;
	-webkit-transition: all 1.0s;
	transition: all 1.0s;
}

.zoom:hover img {
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	transform: scale(1.8);
}

.objectImage {
    width: 120%;
    height: 334px;
    object-fit: cover;
    object-position: center;
}

div.polaroid {
   width: 268px;
   height: 406px;
   background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   margin: -5.5px 0px 33px -5.5px;
}

div.container {
  text-align: center;
  font-family: Trebuchet MS;
  font-size: 25px;
  padding: 0px;
  margin-top: -4.5px;
}
