/* ocultar scroll  bar */
::-webkit-scrollbar {
     width: 0px;
}

body {
background-color: none;
margin-top: 50px;
margin-bottom: 50px;
}

.zoom {
  overflow: hidden;
}

.zoom img {
  max-width: 100%;
  -moz-transition: all 2.0s;
  -webkit-transition: all 2.0s;
  transition: all 2.0s;
}

.zoom:hover img {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.8);
}

div.gallery img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 8px 8px 0;
  float: left;
  width: 50%;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0px -10px 0px 0px;

}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  max-width: 100%;
  margin: -6px -6px -6px-6px;
  padding: 0 0px;
}

.column img {
  margin-top: 0px;
  vertical-align: middle;
}


.container {
  position: relative;
  width: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsla(57, 100%, 0%, 0.32);
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 3.0s ease;
}

.container:hover .overlay {
  opacity: 1;
}

.objectImage#b {
    width: 100%;
    height: 229px;
    object-fit: cover;
    object-position: bottom;
}

.objectImage#c {
    width: 100%;
    height: 229px;
    object-fit: cover;
    object-position: center;
}

.objectImage#t {
    width: 100%;
    height: 229px;
    object-fit: cover;
    object-position: top;
}
