/* ocultar scroll  bar */
::-webkit-scrollbar {
   width: 0px;
}

#IMG1 {
  position: absolute;
  z-index: 3;
  margin: 15px 0px 0px 22px;
  border: 5px solid white;
  border-radius: 8px ;
  background-color: white;
  box-shadow:  6px 6px 4px 0px hsla(321, 99%, 0%, 0.25);	
  
  /*inclinar , rodar imagem */
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

#IMG2 {
  position: absolute;
  z-index: 2;
  margin: 15px 0px 0px 30px;
  border: 5px solid white;
  border-radius: 8px ;
  background-color: white;
  box-shadow:  6px 6px 4px 0px hsla(321, 99%, 0%, 0.25);
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}

#IMG3 {
  position: absolute;
  z-index: 1;
  margin: 15px 0px 0px 5px;
  border: 5px solid white;
  border-radius: 8px ;
  background-color: white;
  box-shadow:  6px 6px 4px 0px hsla(321, 99%, 0%, 0.25); 	
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

#IMG4 {
  position: absolute;
  z-index: 0;
  margin: 15px 0px 0px 5px;
  border: 5px solid white;
  border-radius: 8px ;
  background-color: white;
  box-shadow:  6px 6px 4px 0px hsla(321, 99%, 0%, 0.25);
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}

/* tamanho da imagem */
.objectImage { 
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.container {
    position: relative;
    width: 199px;
    height: 298px;
    display: inline-block;
}

.overlay {
    position: absolute;
    opacity: 0;
    transition:all .3s ease;
}
	
.container:hover .overlay,.container:hover .overlayFade {
    opacity: 1;
}

.overlayFade#overlay1{
   position: absolute;
   z-index: 3;
   border: -18px;
   border-radius: 2px ;
   padding: 0px;
   width: 199px;
   height: 298px;
   margin: 20px 0px 0px 27px;
   background-color: rgba(0, 0, 0, 0.4);
   -webkit-transform: rotate(-10deg);
   -ms-transform: rotate(-10deg);
   transform: rotate(-10deg);
}

.overlayFade#overlay2{
   position: absolute;
   z-index: 2;
   border: -18px;
   border-radius: 2px ;
   padding: 0px;
   width: 199px;
   height: 298px;
   margin: 20px 0px 0px 35px;
   background-color: rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}

.overlayFade#overlay3{
   position: absolute;
   z-index: 1;
   border: -18px;
   border-radius: 2px ;
   padding: 0px;
   width: 199px;
   height: 298px;
   margin: 20px 0px 0px 10px;
   background-color: rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.overlayFade#overlay4{
   position: absolute;
   z-index: 0;
   border: -18px;
   border-radius: 2px ;
   padding: 0px;
   width: 199px;
   height: 298px;
   margin: 20px 0px 0px 10px;
   background-color: rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}

.text1 {
    color: white;
    font-size: 29px;
    position: absolute;
	text-align: center;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Codystar', cursive;
}

.text2 {
    color: white;
    font-size: 20px;
    position: absolute;
	text-align: center;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Codystar', cursive;
}

.text3 {
    color: white;
    font-size: 20px;
    position: absolute;
	text-align: center;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Codystar', cursive;
}

.model { /* nome da modelo */
    color: white;
    font-size: 20px;
	margin: 20px 0 35px 0;
	text-align: center;
    font-family: 'ZCOOL XiaoWei', serif;
}

.info {  /* texto informativo */
    color: white;
    font-size: 15px;
	margin: 55px 3px -10px 0;
	text-align: right;
    font-family: 'ZCOOL XiaoWei', serif;
}

.linha { /* linha abaixo do texto informativo */
    color: white;
    font-size: 20px;
	margin: 20px 0 35px 0;
	text-align: center;
    font-family: 'ZCOOL XiaoWei', serif;
}

.tudo {
   display: table;
   margin: auto;
   padding-left: 6px;
}
